@charset "UTF-8";
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

.topContainer{
    text-align: center;
}
.topContainer h1{
  color: hsl(179, 62%, 43%);
}
.leftContainer{
    background-color: hsl(179, 62%, 43%);
}
.rightContainer{
  background-color: aquamarine;
}